:root {
  --primary-color: #ff0000;
  --primary-hover: #e60000;
  --background-dark: #121212;
  --card-background: #1e1e1e;
  --input-background: #1e1e1e;
  --text-primary: #ffffff;
  --text-secondary: #a0a0a0;
  --text-muted: #777777;
  --border-color: #333333;
  --red: #E10600;
  --yellow: #FFC107;
  --green: #28A745;
  --bg-dark: #121212;
  --card-bg: #1A1A1A;
  --transfor-site: #3a3a3a;
}

